# Dependências
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Next.js
.next
out

# Arquivos de ambiente (use variáveis no docker-compose)
.env
.env.local
.env.development
.env.production
.env*.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
README.md
LICENSE
.eslintrc*
scripts/

# Editor
.vscode
.idea
*.swp
*.swo
